<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProviSee</title>
    <%- include('partials/head.html') %>
    

</head>
<body>
    
    <%- include('partials/navigation.html') %>

    <div class="container">

        <header class="row">

            <div class="col-lg-12 text-center">
                <img src="/image/logo-dog.png" class="animate__animated animate__tada" alt="Logo Cat">
            </div>

        </header>

    </div>

    <!-- Section One-->

    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-4">
                <i class="fab fa-instagram fa-7x"></i>
            </div>
            <div class="col-sm-4">
                <h3>ProviSee Creativity</h3>
                <p>Creativity is the key to new ideas and in pursuit of it, we go.</p>
            </div>
        </div>
    </div>

    <%- include('partials/footer.html')%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>